.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  border-radius: 10px;
  gap: 1rem;
}
.quote-btn {
  background-color: #ffcc00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.quote-btn:hover {
  background-color: white;
  color: #ffcc00;
}
